{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<p>You submitted the following data:</p>
<table>
<tr><td>Target:</td><td>{{ the_target }}</td></tr>
</table>

<p>When "{{the_target }}" is searched, the following 
results are returned:</p>
<h3>{{ the_results }}</h3>

{% endblock %}
